@model IEnumerable<Tarteeb.MVC.Models.TaskViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.Deadline is null)
                {
                    <span>No deadline</span>
                }
                else
                {
                    var deadline = item.Deadline.Value.ToString("dddd, dd MMMM yyyy"); 
                    @Html.DisplayFor(modelItem => deadline)
                }
            </td>
            <td>
                @Html.ActionLink(linkText: "Edit",
                                    actionName: "Edit",
                                    controllerName: "Task",
                                    routeValues: new { id = item.Id },
                                    htmlAttributes: new { @class = "btn btn-sm btn-light" })
                @using (Html.BeginForm("Delete", "Task", new { Id = item.Id }))
                {
                    <input type="submit" class="btn btn-sm btn-light" value="Delete" />
                }
            </td>
        </tr>
}
    </tbody>
</table>
